{% extends "base.html" %}
{% block content %}
</style>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header header">
      <div class="mdl-layout__header-row">
        {% if request.user.is_authenticated %}
        <span class="mdl-layout-title">Welcome {{request.user.first_name}} !</span>
        {% else %}
        <span class="mdl-layout-title">Create User</span>
        <!-- Title -->
        {% endif %}
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content"><!-- Accent-colored raised button with ripple -->

        <form action="/createUser/" method="POST">
            {% csrf_token %}
            {% csrf_token %}
             {% if password_error %}
             <span style="color:red;">{{ password_error }}</span> <!-- Display password error -->
             {% endif %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="newUser" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Username</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="newPassword" type="password" id="sample2">
                <label class="mdl-textfield__label" for="sample2">Password</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="newPasswordValidation" type="password" id="sample2">
                <label class="mdl-textfield__label" for="sample2"> Repeat Password</label>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Register User
                 </button>
            </form>
        </div>
    </main>
  </div>
  {% endblock %}