<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-pink.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<style>
.header {
   display: flex;
   align-items: center;
}


.mdl-layout__drawer-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    display: flex;
    justify-content: center;;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

</style>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Chatroom {{request.user.first_name}} !</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mydrawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content"><!-- Accent-colored raised button with ripple -->

        <form action="/chat/" method="post">
        {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
              <label class="mdl-textfield__label" for="sample3">Your message...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Send
               </button>
          </form>
        </div>
    </main>
  </div>